body {
  background: #04010D;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  line-height: 30px;
  list-style-type: none;
}

li::before {
  content: "\00BB\0020";
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
}

.content {
  position: absolute;
  left: 20%;
  top: 20%;
  border-color: #080000;
  border-width: 3px;
  align-items: center;
}

.toc-item {
  color: #fff;
  font-size: 25px;
}

.header {
  font-size: 50px;
  color: #00FF2A;
  position: fixed;
  left: 70%;
  top: 20px;
}

.back-to-top {
  font-weight: bold;
  color: #00FF2A;
  position: fixed;
  top: 95%;
  left: 90%;
  visibility: hidden;
}
